name: Build musl-cross-make Toolchains

on:
  push:
    branches: [ "master" ]
    tags:
      - "v*"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Create config.mak
        run: |
          cat <<EOF > config.mak
          GCC_VER = 15.1.0
          DL_CMD = curl -C - -L -s -o
          COMMON_CONFIG += --disable-nls
          GCC_CONFIG += --enable-languages=c,c++
          GCC_CONFIG += --disable-multilib
          EOF
          cat config.mak

      - name: build toolchain
        run: |
          make -j$(nproc) TARGET=x86_64-linux-musl
          sudo make TARGET=x86_64-linux-musl OUTPUT=/usr/local install

      - name: Update config.mak
        run: |
          cat <<EOF >> config.mak
          COMMON_CONFIG +=  CC="x86_64-linux-musl-gcc -static"
          COMMON_CONFIG += CXX="x86_64-linux-musl-g++ -static"
          EOF
          cat config.mak

      - name: build x86_64-linux-musl from toolchain
        run: |
          make clean
          make -j$(nproc) TARGET=x86_64-linux-musl install

      - name: build aarch46-linux-musl from toolchain
        run: |
          make clean
          make -j$(nproc) TARGET=aarch64-linux-musl install

      - name: Package toolchain
        run: tar -zcf mxm-x86_64.tgz -C output .

      - name: Release
        if: startsWith(github.ref, 'refs/tags/')
        uses: softprops/action-gh-release@v2
        with:
          files: ./*.tgz
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
